body { 
	scroll-behavior: smooth; 
}

#backgroundimg{
	width: 100vw;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}
#isaacgrey{
	margin-top: 40px;
	margin-left: 225px;
	color: #FFFFFF;
	font-size: 18px;
}
#title{
	margin-top: -23px;
	margin-left: 225px;
	color: #FFFFFF;
	font-size: 10.5px;

}
#home{
	margin-left: 700px;
	margin-top: -50px;
	color:#FFFFFF;
	font-size: 13px;
	cursor: pointer;
}
#home:hover{
	margin-left: 700px;
	margin-top: -50px;
	color:#CC33FF;
	font-size: 13px;
	cursor: pointer;
}
#portfolio{
	margin-left: 820px;
	margin-top: -30px;
	color:#FFFFFF;
	font-size: 13px;
	cursor: pointer;

}
#portfolio:hover{
	margin-left: 820px;
	margin-top: -30px;
	color:#CC33FF;
	font-size: 13px;
	cursor: pointer;

}
#contact{
	margin-left: 960px;
	margin-top: -30px;
	color:#FFFFFF;
	font-size: 13px;
	cursor: pointer;

}
#contact:hover{
	margin-left: 960px;
	margin-top: -30px;
	color:#CC33FF;
	font-size: 13px;
	cursor: pointer;

}
#slogan{
	color: #FFFFFF;
	font-size: 60px;
	margin-top: 160px;
	margin-left: 165px;
}
#description{
	color: #FFFFFF;
	margin-left: 175px;
	margin-top: 90px;
	font-size: 19px;
}
#button1{
	color: #FFFFFF;
	height: 55px;
	width: 200px;
	border-radius: 4px;
	font-size: 19px;
	padding-top: 16px;
	padding-left: 40px;
	background-color: #CC33FF;
	margin-left: 175px;
	margin-top: -590px;
	float: left;
	cursor: pointer;
}
#button2{
	color: #FFFFFF;
	height: 55px;
	width: 200px;
	border-radius: 4px;
	font-size: 19px;
	padding-top: 14px;
	padding-left: 30px;
	background-color: rgba(255,255,255,.2);
	margin-left: 425px;
	margin-top: -590px;
	float: left;
	cursor: pointer;
}
#block1{
	height: 10px;
	width: 10px;
	margin-top: -1034px;
	margin-left: 206px;
	background-color: #CC33FF;
}
#block2{
	height: 10px;
	width: 10px;
	background-color: #CC33FF;
	margin-left: 188px;
	margin-top: -10px
}
#block3{
	height: 10px;
	width: 10px;
	background-color: #CC33FF;
	margin-left: 206px;
	margin-top: 8px;
}
#laptop1screen{
	height: 230px;
	width: 320px;
	margin-top: -190px;
	margin-left: 240px;
	border: 10px groove;
	border-radius: 4px;
	border-color: #CCCCCC;
}
#blogdrafter{
	margin-left: 635px;
	margin-top: -260px;
	font-size: 40px;
	cursor: pointer;
}
#blogdrafter:hover{
	margin-left: 635px;
	margin-top: -260px;
	font-size: 40px;
	color: #CC33FF;
	cursor: pointer;
}
.copyright{
	font-size: 15px;
}
#blogdrafterdesc{
	float: right;
	margin-right: 205px;
	color: #808080;	
	margin-top: -30px;
}
#share1{
	float: right;
	margin-top: -72px;
	margin-right:-370px;
	border-radius: 4px;
	background-color: #3B5998;
	color: #FFFFFF;
	cursor: pointer;
}
#down-arrow{
	margin-top: 260px;
	margin-left: 575px;
}
#whereabout{
	margin-right: 390px;
	margin-top: 175px;
	font-size: 40px;
	cursor: pointer;
	float: right;
}
#whereabout:hover{
	margin-right: 390px;
	margin-top: 175px;
	font-size: 40px;
	cursor: pointer;
	float: right;
	color: #CC33FF;
	cursor: pointer;
}
#down-arrow2{
	margin-left: 575px;
	margin-bottom: -30px;
}
#whereaboutdesc{
	float: right;
	margin-right: 205px;
	color: #808080;	
	margin-top: -30px;
}
#share2{
	float: right;
	margin-top: -72px;
	margin-right:-370px;
	border-radius: 4px;
	background-color: #3B5998;
	color: #FFFFFF;
	cursor: pointer;
}
#laptop2screen{
	height: 230px;
	width: 320px;
	margin-top: 180px;
	margin-left: 240px;
	border: 10px groove;
	border-radius: 4px;
	border-color: #CCCCCC;
	float: left;
}